body {
    width: 90%;
    margin: 0 auto;
}

:root {
    --font-family: 'Work Sans', sans-serif;
}

/*Banner and header style*/

.header-container {
    background-color: #f0dbc2;
    margin-bottom: 100px;
}

.nav-container {
    width: 80%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-family: var(--font-family);
}

.menu {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 600;
    color: rgb(87, 78, 78);
}

.banner-container {
    width: 80%;
    margin: auto;
    font-family: var(--font-family);
    text-align: center;
    padding-bottom: 30px;
}

.banner-container h1 {
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
}

.banner-container p {
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
    color: #727272;
}

.button button {
    background-color: #FF900E;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    font-weight: 700;
}

.banner-container img {
    width: 100%;
}

/*Quick list features styles */

.feature-container {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 100px;
}

.feature-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.feature-image img {
    width: 100%;
}

.feature-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font-family);
}

.feature-content>div h2 {
    font-size: 2em;
}

.feature-content>div button {
    background-color: #FF900E;
    color: white;
    font-size: 1.3em;
    font-weight: 600;
    border: none;
    padding: 10px 15px;
}

/*Features Love section styles*/

.features {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    margin-bottom: 50px;
}

.features-description {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    font-family: var(--font-family);
    margin-top: -200px;
}

.features-description h1 {
    font-size: 2em;
}

.features-description p {
    color: #727272;
}

.items {
    box-shadow: 0px 0px 10px lightgray;
    padding-left: 10px;
    border-radius: 5px;
}

.items h3 {
    font-size: 1.5em;
}

.item-image button {
    font-family: var(--font-family);
    font-size: 3em;
    width: 40%;
    padding: 20px 0px;
    background-color: #FF900E;
    color: white;
    border: none;
    transform: translate(-70px, -70px);
}

/*some Facts style*/
.some-facts {
    width: 40%;
    margin-left: 10%;
    font-family: var(--font-family);
    margin-bottom: 100px;
}

.some-facts p {
    color: #727272;
}

/* Facts Styles */

.facts-container {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10%;
    font-family: var(--font-family);
    margin-bottom: 100px;
}

.fact {
    padding: 20px;
    border: 1px solid #FF900E;
    border-radius: 5px;
    background-color: #eeebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fact:hover {
    background-color: #727272;
}

/* Sponsors Styles*/

.sponsor-container {
    width: 80%;
    margin: auto;
}

.sponsor-content {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
    font-family: var(--font-family);
}

.sponsors {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

footer {
    background-color: #FFF4E7;
    text-align: center;
    padding: 15px 0px;
    font-family: var(--font-family);
    font-size: 1.3em;
    font-weight: 600;
    color: #727272;
}